<div *ngIf="forecast" class="flex flex-column">
  <div class="flex justify-content-center">
    <img
      [src]="
        'assets/icons/open-weather/outlined/' +
        forecast.weather[0].icon +
        '.svg'
      "
      alt="weather"
      class="w-4rem h-4rem glow-effect" />
  </div>
  <div class="flex flex-column align-items-center">
    <div>
      {{ forecast.dt * 1000 | date: 'dd.MM' }}
    </div>
    <div>{{ forecast.temp.day | kelvinToCelsius: 1 }}°C</div>
    <div>{{ forecast.pop * 100 }} %</div>
  </div>
</div>
