<div
  *ngIf="weatherData"
  class="flex flex-column h-full w-full bg-bluegray-900 text-white p-4 rounded-lg shadow-lg">
  <div
    class="flex align-items-center justify-content-between p-2 border-b border-gray-700">
    <div class="flex align-items-center">
      <span class="pi pi-map-marker"></span>
      <div class="text-lg font-semibold ml-2">
        {{ weatherData.location.name }}
      </div>
    </div>
    <div class="text-lg text-gray-400">
      {{ weatherData.weather.current.weather[0].description }}
    </div>
  </div>
  <div
    class="flex align-items-center justify-content-between p-2 border-b border-gray-700">
    <div class="text-7xl font-bold">
      {{
        convertKelvinToCelsius(weatherData.weather.current.temp)
          | number: '1.1-1'
      }}°C
    </div>
    <div>
      <img
        [src]="
          'assets/icons/' + weatherData.weather.current.weather[0].icon + '.svg'
        "
        alt="Weather Icon"
        class="w-12 h-12" />
    </div>
  </div>
  <div class="flex flex-wrap align-items-center justify-content-between p-2">
    <p-chip
      label="Druck: {{ weatherData.weather.current.pressure }} hPa"></p-chip>
    <p-chip
      label="Feuchte: {{ weatherData.weather.current.humidity }}%"></p-chip>
    <p-chip
      label="Wind: {{ weatherData.weather.current.wind_speed }} m/s"></p-chip>
    <p-chip
      label="Taupunkt: {{
        convertKelvinToCelsius(weatherData.weather.current.dew_point)
          | number: '1.1-1'
      }}"></p-chip>
  </div>
</div>
