<div
  *ngIf="weatherData"
  class="flex flex-column h-full w-full bg-bluegray-900 text-white p-4 rounded-lg shadow-lg">
  <div
    class="flex align-items-center justify-content-between p-2 border-b border-gray-700">
    <div class="flex flex-column">
      <div class="flex align-items-center">
        <span class="pi pi-map-marker"></span>
        <div class="text-lg font-semibold ml-2">
          {{ weatherData.location.name }}, {{ weatherData.location.country }}
        </div>
      </div>
    </div>
    <div class="text-lg text-gray-400">
      {{ weatherData.weather.current.weather[0].description }}
    </div>
  </div>
  <div
    class="flex align-items-center justify-content-between p-2 border-b border-gray-700">
    <div class="flex flex-column">
      <div class="text-7xl font-bold">
        {{
          convertKelvinToCelsius(weatherData.weather.current.temp)
            | number: '1.1-1'
        }}°C
      </div>
      <div class="text-sm">
        Gefühlt:
        {{
          convertKelvinToCelsius(weatherData.weather.current.feels_like)
            | number: '1.1-1'
        }}°C
      </div>
    </div>
    <div class="flex align-items-center justify-content-center">
      <img
        [src]="
          'assets/icons/' + weatherData.weather.current.weather[0].icon + '.svg'
        "
        alt="Weather Icon"
        class="w-12 h-12 glow-effect" />
    </div>
  </div>
  <div class="flex flex-wrap align-items-center justify-content-between p-2">
    <p-chip
      styleClass="text-lg"
      class="p-2"
      image="assets/icons/barometer.svg"
      label="{{ weatherData.weather.current.pressure }} hPa"></p-chip>
    <p-chip
      styleClass="text-lg"
      class="p-2"
      image="assets/icons/humidity.svg"
      label="{{ weatherData.weather.current.humidity }}%"></p-chip>
    <p-chip
      styleClass="text-lg"
      class="p-2"
      image="assets/icons/windsock.svg"
      label="{{ weatherData.weather.current.wind_speed }} m/s"></p-chip>
    <p-chip
      styleClass="text-lg"
      class="p-2"
      image="assets/icons/uv-index.svg"
      label="UV-Index: {{ weatherData.weather.current.uvi }}"></p-chip>
    <p-chip
      styleClass="text-lg"
      class="p-2"
      image="assets/icons/thermometer-celsius.svg"
      label="Taupunkt: {{
        convertKelvinToCelsius(weatherData.weather.current.dew_point)
          | number: '1.1-1'
      }}"></p-chip>
  </div>

  <div class="custom-divider"></div>
</div>

<!-- <div class="flex align-items-center">
  <img [src]="'assets/icons/sunrise.svg'" alt="sunrise" class="w-1 h-1" />
  <span class="ml-2 text-sm">
    {{ convertUnixTimeToLocalTime(weatherData.weather.current.sunrise) }}
  </span>

  <img
    [src]="'assets/icons/sunrise.svg'"
    alt="sunrise"
    class="w-1 h-1 ml-4" />
  <span class="ml-2 text-sm">
    {{ convertUnixTimeToLocalTime(weatherData.weather.current.sunrise) }}
  </span>
</div> -->
