.glow-effect {
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
}

.custom-divider {
  border-top: 1px solid rgba(119, 119, 119, 0.7);
  margin: 15px 0;
}

.temperature-dynamic-size {
  font-size: clamp(2rem, 4vw, 8rem);
}
